.d-none {
    display: none;
}
div#stuff {
    color: yellow;
    text-shadow: 2px 2px 20px black;
    text-align: center;
    font-size: 40px;
  }
 
p#intro {
    font-size: 20px;
    background-color: rgba(0, 0, 90, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    
}

p#directions {
    font-size: 20px; 
    background-color: rgba(0, 0, 90, 0.3);
}

  * {
      text-align: center;
  }

  div#high-score-form-container{
    color: #FFD700;
    font-size: 30px;
}

ul#all-high-scores{
    color: #FFD700;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

   h2 ~ button {
    background-color: #FF6347;
    border: 2px solid black;
    color: black;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } 

  h5 ~ button {
    background-color: yellow;
    border: 2px solid black;
    color: black;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  } 

  h5 ~ button:hover {
    background-color: #F8F8FF;
    color: black;
  }

  h5 {
      color: yellow;
      font-size: 40px;
  }

  h2 ~ button:hover {
    background-color: #4CAF50;
    color: white;
  }

  h2 ~ button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  body {
     background: url("https://static.showit.co/1200/e-MzWgCTQdKbfgMSreLuKw/10594/travel_china_005.jpg")  no-repeat center center fixed;  
    background-color: #cccccc;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   }

input#submit{
    background-color: yellow;
    border: 2px solid black;
    color: black;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input#submit:hover {
    background-color: white;
    color: black;
  }

  div#back-to-start button {
    background-color: yellow;
    border: 2px solid black;
    color: black;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  div#back-to-start button:hover {
    background-color: white;
    color: black;
  }

  ul#sorted-high-scores{
    color: yellow;
  }